.app-body {
  background-color: #2c2d30;
  padding: 30px 0;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

ul li {
  padding: 0;
}

.companies-list-wrapper {
  width: 70%;
  margin: 30px auto;
  color: #fff;
}

.companies-list-wrapper .filters {
  clear: both;
  overflow: hidden;
}

.companies-list-wrapper .filters .filter-order {
  float: right;
}

.companies-list-wrapper .filter-text {
  font-size: 13px;
}

.companies-list-wrapper .companies-list {
  width: 80%;
  margin: 30px auto;
}

.companies-list figure {
  margin: 0;
}

.companies-list .company {
  display: inline-block;
  width: 40%;
  margin: 10px 2.5%;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

.companies-list .company.active {
  transition: background 0.5s ease-in-out;
  border: 2px solid #fff;
  background: #DA0059;
}

.companies-list .company.active .company-name {
  color: #fff;
}

.companies-list .company .company-name {
  font-size: 20px;
  color: #DA0059;
}

.companies-list .company .company-logo {
  position: relative;
  margin-top: 15px;
}

.companies-list .company .company-logo img {
  min-width: 100%;
}

.companies-list .company .company-rank {
  position: absolute;
  right: 0;
  color: #ffffff;
  background-color: #333;
  padding: 10px;
}

.companies-list .company .company-site-url {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

.companies-list h2, .companies-list h4 {
  margin: 5px 0;
}

.app-body .main-header {
  text-align: center;
  color: #fff;
  margin: 0;
}


.login-form {
  padding: 0;
  margin: 20px 0;
}

.login-form fieldset {
  border: 0;
  padding: 10px 0;
  margin: 10px 0;
}

.login-form fieldset label {
  display: block;
  color: #DA0059;
  font-size: 15px;
}

.login-form fieldset.password-remember-me label {
  display: inline-block;
}
.login-form fieldset.password-remember-me input {
  width: auto;
}

.login-form fieldset input {
  width: 100%;
  border: 0;
  height: 20px;
  border-radius: 2px;
}

.login-form fieldset input.submit-btn {
  background-color: #DA0059;
  border: 0;
  padding: 5px;
  color: #fff;
  font-size: 20px;
  width: auto;
  height: auto;
  float: right;
}


.login-form fieldset input.ng-dirty.ng-invalid {
  border: 2px solid #D24747;
}

.login-form fieldset input.ng-dirty.ng-valid {
  border: 2px solid #47B8D2;
}