<div class="filters">
  <div class="filter-order">
    <em class='filter-text filter-order-text'>Ordenar por:</em>
    <select
      ng-model="currentOrder"
      ng-options="option.label for option in cFilters.orderOptions"
      ng-change='reorderCompanies()'>
    </select>
  </div>
</div>