<header>
  <h2 class='company-name'>{{ company.name }}</h2>
</header>
<strong class='company-accountable-name'>{{ company.accountable_name }}</strong>
<figure class="company-logo">
  <span class='company-rank'>{{ company.rank }}</span>
  <img ng-src="{{ company.logo_url }}" />
</figure>

<a class='company-site-url' href="{{ company.site_url }}?ref=paguemeufreela"
  target="_blank">{{ company.site_url }}</a>
<div class="actions-section">
  <button ng-show='company.canComplain' class='add-complaint'>Adicionar reclamação</button>
</div>