<ul class="companies-list">
  <li class="company-{{ company.id }} company" ng-repeat='company in cList.companies'
    ng-hide='cList.companies.size == 0'
    ng-click='cList.selectCompany(company)'
    ng-class='{ active:cList.isSelected(company) }'>
      <company-tile />
  </li>
</ul>