<form name='loginForm' class='form login-form' novalidate>
  <fieldset class='username-field'>
    <label>Email</label>
    <input type="email" ng-model='login.authData.email' required />
  </fieldset>
  <fieldset class='password-field'>
    <label>Password</label>
    <input type="password" ng-model='login.authData.password' required />
  </fieldset>

  <fieldset class='password-remember-me'>
    <label>Manter conectado</label>
    <input type="checkbox" ng-model='login.authData.remember' />
  </fieldset>

  <fieldset class="action">
    <input type="button" value='Logar' class='submit-btn' ng-click='loginForm.$valid && login.tryUserAuth()' />
  </fieldset>


  <pre>{{ login | json }} </pre>
</form>